.container{
    border-radius: 20px;
    color: blanchedalmond;
    background-color: rgb(24, 24, 78);
}
.heading{
    background-color: rgb(108, 57, 26);
    color: blanchedalmond;
    border-radius: 30px;
   
}
